@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="RotateAroundAxis">Rotate Around Axis</a></p>
    <p><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="SweepPlaneInEachDirection">Sweep Planes</a></p>
    <p><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="FlashBinaryIndexes">Flash Binary</a></p>
    <p><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="RotateDynamic">Rotate Dynamic</a></p>
    <p><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contagion">Contagion</a></p>
    <p><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Ball">Ball</a></p>
    <p><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="StopAnimation">Stop Animation</a></p>
    <p><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="RestoreTreeState">Restore Tree State</a></p>
    <p><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="RebootTree">Reboot Tree</a></p>
</div>
