@{
    ViewData["Title"] = "Coordinate Correction";
}

<div class="text-center">
    <h1 class="display-4">Coordinate Correction</h1>
    <p>
        <label>LED</label>&nbsp;<input id="ledNumber" type="number" value="0" /> <input id="changeled" type="button" value="Change Led" />
    </p>
    <p>
        <canvas id="canvas0"></canvas>
    </p>
    <p>
        <canvas id="canvas1"></canvas>
    </p>
    <p>
        <canvas id="canvas2"></canvas>
    </p>
    <p>
        <canvas id="canvas3"></canvas>
    </p>
    <p>
        <canvas id="canvas4"></canvas>
    </p>
    <p>
        <canvas id="canvas5"></canvas>
    </p>
    <p>
        <canvas id="canvas6"></canvas>
    </p>
    <p>
        <canvas id="canvas7"></canvas>
    </p>
</div>
<div style="display:grid;width:100%;aspect-ratio:16/9">
    <div id="treediv"></div>
    <div id="guidiv"></div>
</div>
@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/8.0.7/signalr.js"></script>
    <script type="module" src="~/js/coordinatecorrection.js"></script>
    <style>
        #treediv {
            grid-column: 1;
            grid-row: 1;
            z-index: 1;
        }
        #guidiv {
            grid-column: 1;
            grid-row: 1;
            z-index: 2;
            pointer-events: none;
        }

        #guidiv > * {
            pointer-events: all;
        }
    </style>
}