@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
	<p>
		<form asp-controller="Home" asp-action="Words">
			<label for="wordToDisplay">Display Words on Tree:</label>&nbsp;
			<input type="text" name="wordToDisplay" placeholder="Enter words" />&nbsp;
			<input type="submit" value="Submit" />
        </form>
    <p><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="StopAnimation">Stop Animation</a></p>
    <p><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="RestoreState">Restore State</a></p>
    <p><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Reboot">Reboot</a></p>
    <p><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="TurnOff">Turn Off</a></p>
</div>